# Challenge 2 - ANOVA

In statistics, **Analysis of Variance (ANOVA)** is also used to analyze the differences among group means. The difference between t-test and ANOVA is the former is used to compare two groups whereas the latter is used to compare three or more groups. [Read more about the difference between t-test and ANOVA](http://b.link/anova24).

From the ANOVA test, you receive two numbers. The first number is called the **F-value** which indicates whether your null-hypothesis can be rejected. The critical F-value that rejects the null-hypothesis varies according to the number of total subjects and the number of subject groups in your experiment. In [this table](http://b.link/eda14) you can find the critical values of the F distribution. **If you are confused by the massive F-distribution table, don't worry. Skip F-value for now and study it at a later time. In this challenge you only need to look at the p-value.**

The p-value is another number yielded by ANOVA which already takes the number of total subjects and the number of experiment groups into consideration. **Typically if your p-value is less than 0.05, you can declare the null-hypothesis is rejected.**

In this challenge, we want to understand whether there are significant differences among various types of pokemons' `Total` value, i.e. Grass vs Poison vs Fire vs Dragon... There are many types of pokemons which makes it a perfect use case for ANOVA.

In [5]:
from scipy import stats
import pandas as pd
import numpy as np

In [2]:
pokemon = pd.read_csv('Pokemon.csv')

**To achieve our goal, we use three steps:**

1. **Extract the unique values of the pokemon types.**

1. **Select dataframes for each unique pokemon type.**

1. **Conduct ANOVA analysis across the pokemon types.**

#### First let's obtain the unique values of the pokemon types. These values should be extracted from Type 1 and Type 2 aggregated. Assign the unique values to a variable called `unique_types`.

*Hint: the correct number of unique types is 19 including `NaN`. You can disregard `NaN` in next step.*

In [13]:
type1_values = pokemon['Type 1'].astype(str)
type2_values = pokemon['Type 2'].astype(str)

unique_types = np.unique(np.concatenate([type1_values, type2_values]))

print(unique_types)

print(len(unique_types))

['Bug' 'Dark' 'Dragon' 'Electric' 'Fairy' 'Fighting' 'Fire' 'Flying'
 'Ghost' 'Grass' 'Ground' 'Ice' 'Normal' 'Poison' 'Psychic' 'Rock' 'Steel'
 'Water' 'nan']
19

In [33]:
unique_types.tolist()

['Bug',
 'Dark',
 'Dragon',
 'Electric',
 'Fairy',
 'Fighting',
 'Fire',
 'Flying',
 'Ghost',
 'Grass',
 'Ground',
 'Ice',
 'Normal',
 'Poison',
 'Psychic',
 'Rock',
 'Steel',
 'Water',
 'nan']

#### Second we will create a list named `pokemon_totals` to contain the `Total` values of each unique type of pokemons.

Why we use a list instead of a dictionary to store the pokemon `Total`? It's because ANOVA only tells us whether there is a significant difference of the group means but does not tell which group(s) are significantly different. Therefore, we don't need know which `Total` belongs to which pokemon type.

*Hints:*

* Loop through `unique_types` and append the selected type's `Total` to `pokemon_groups`.
* Skip the `NaN` value in `unique_types`. `NaN` is a `float` variable which you can find out by using `type()`. The valid pokemon type values are all of the `str` type.
* At the end, the length of your `pokemon_totals` should be 18.

In [36]:
pokemon_totals = []

for pokemon_type in unique_types:
    if isinstance(pokemon_type, str) and pokemon_type != 'nan':
        total_values = pokemon[pokemon['Type 1'] == pokemon_type]['Total'].dropna().tolist()
        pokemon_totals.append(total_values)

print(len(pokemon_totals))

18

#### Now we run ANOVA test on `pokemon_totals`.

*Hints:*

* To conduct ANOVA, you can use `scipy.stats.f_oneway()`. Here's the [reference](http://b.link/scipy44).

* What if `f_oneway` throws an error because it does not accept `pokemon_totals` as a list? The trick is to add a `*` in front of `pokemon_totals`, e.g. `stats.f_oneway(*pokemon_groups)`. This trick breaks the list and supplies each list item as a parameter for `f_oneway`.

In [37]:
pokemon_totals

[[195,
  205,
  395,
  195,
  205,
  395,
  495,
  285,
  405,
  305,
  450,
  500,
  500,
  600,
  265,
  390,
  250,
  390,
  390,
  290,
  465,
  500,
  600,
  505,
  500,
  600,
  195,
  205,
  395,
  205,
  385,
  269,
  414,
  266,
  456,
  236,
  400,
  400,
  194,
  384,
  224,
  424,
  424,
  424,
  424,
  244,
  474,
  515,
  310,
  380,
  500,
  260,
  360,
  485,
  325,
  475,
  315,
  495,
  319,
  472,
  305,
  495,
  484,
  360,
  550,
  600,
  200,
  213,
  411],
 [525,
  405,
  430,
  330,
  500,
  600,
  220,
  420,
  380,
  480,
  465,
  565,
  505,
  510,
  600,
  281,
  446,
  348,
  488,
  330,
  510,
  340,
  490,
  370,
  510,
  300,
  420,
  600,
  288,
  482,
  680],
 [300,
  420,
  600,
  490,
  590,
  300,
  420,
  600,
  700,
  600,
  700,
  600,
  700,
  680,
  780,
  300,
  410,
  600,
  700,
  320,
  410,
  540,
  485,
  680,
  680,
  660,
  700,
  700,
  300,
  452,
  600,
  600],
 [320,
  485,
  325,
  465,
  330,
  480,
  490,
  525,
  580,
  205,
  280,
  365,
  510,
  610,
  360,
  580,
  295,
  475,
  575,
  405,
  405,
  263,
  363,
  523,
  405,
  535,
  540,
  440,
  520,
  520,
  520,
  520,
  520,
  295,
  497,
  428,
  275,
  405,
  515,
  580,
  580,
  289,
  481,
  431],
 [323,
  483,
  218,
  245,
  405,
  300,
  450,
  545,
  303,
  371,
  552,
  341,
  462,
  341,
  480,
  525,
  680],
 [305,
  455,
  305,
  405,
  505,
  455,
  455,
  210,
  455,
  237,
  474,
  280,
  410,
  510,
  285,
  525,
  625,
  305,
  405,
  505,
  465,
  465,
  350,
  510,
  348,
  495,
  500],
 [309,
  405,
  534,
  634,
  634,
  299,
  505,
  350,
  555,
  410,
  500,
  495,
  525,
  580,
  309,
  405,
  534,
  250,
  410,
  365,
  580,
  680,
  310,
  405,
  530,
  630,
  305,
  460,
  560,
  470,
  309,
  405,
  534,
  540,
  600,
  308,
  418,
  528,
  316,
  498,
  315,
  480,
  540,
  484,
  307,
  409,
  534,
  382,
  499,
  369,
  507,
  600],
 [580, 580, 245, 535],
 [310,
  405,
  500,
  600,
  435,
  295,
  455,
  555,
  295,
  455,
  348,
  498,
  495,
  485,
  525,
  680,
  680,
  303,
  483,
  275,
  370,
  520,
  309,
  474,
  335,
  335,
  335,
  335,
  494,
  494,
  494,
  494],
 [318,
  405,
  525,
  625,
  320,
  395,
  490,
  300,
  390,
  490,
  325,
  520,
  435,
  318,
  405,
  525,
  490,
  250,
  340,
  460,
  180,
  425,
  310,
  405,
  530,
  630,
  220,
  340,
  480,
  295,
  460,
  400,
  335,
  475,
  460,
  318,
  405,
  525,
  280,
  515,
  275,
  450,
  454,
  334,
  494,
  594,
  535,
  525,
  600,
  600,
  308,
  413,
  528,
  316,
  498,
  280,
  480,
  280,
  480,
  461,
  294,
  464,
  305,
  489,
  580,
  313,
  405,
  530,
  350,
  531],
 [300,
  450,
  265,
  405,
  320,
  425,
  345,
  485,
  430,
  330,
  500,
  290,
  340,
  520,
  300,
  500,
  670,
  770,
  330,
  525,
  535,
  510,
  328,
  508,
  292,
  351,
  519,
  471,
  303,
  483,
  600,
  600],
 [455,
  580,
  250,
  450,
  330,
  305,
  300,
  480,
  580,
  290,
  410,
  530,
  580,
  525,
  530,
  480,
  305,
  395,
  535,
  305,
  485,
  485,
  304,
  514],
 [251,
  349,
  479,
  579,
  253,
  413,
  262,
  442,
  270,
  435,
  290,
  440,
  352,
  310,
  460,
  385,
  450,
  490,
  590,
  490,
  288,
  325,
  395,
  540,
  215,
  415,
  262,
  442,
  210,
  360,
  455,
  415,
  330,
  500,
  515,
  465,
  250,
  490,
  540,
  240,
  420,
  270,
  430,
  280,
  440,
  670,
  240,
  360,
  490,
  190,
  260,
  380,
  360,
  310,
  458,
  420,
  440,
  245,
  340,
  485,
  250,
  410,
  482,
  350,
  480,
  580,
  310,
  452,
  220,
  411,
  390,
  515,
  535,
  670,
  720,
  255,
  420,
  275,
  370,
  500,
  264,
  358,
  488,
  445,
  545,
  300,
  470,
  335,
  475,
  490,
  350,
  510,
  600,
  600,
  237,
  423,
  278,
  472],
 [288,
  438,
  275,
  365,
  505,
  273,
  365,
  505,
  245,
  455,
  325,
  500,
  340,
  490,
  535,
  302,
  467,
  458,
  329,
  479,
  330,
  500,
  300,
  490,
  329,
  474,
  320,
  494],
 [310,
  400,
  500,
  590,
  328,
  483,
  460,
  680,
  780,
  780,
  600,
  320,
  470,
  525,
  336,
  405,
  680,
  600,
  198,
  278,
  518,
  618,
  330,
  470,
  425,
  260,
  600,
  600,
  600,
  600,
  285,
  310,
  518,
  618,
  580,
  580,
  580,
  600,
  600,
  292,
  487,
  313,
  425,
  490,
  290,
  390,
  490,
  290,
  370,
  490,
  335,
  485,
  355,
  466,
  466,
  600,
  680],
 [300,
  390,
  495,
  385,
  355,
  495,
  355,
  495,
  515,
  615,
  410,
  300,
  410,
  600,
  700,
  375,
  440,
  440,
  355,
  495,
  355,
  495,
  580,
  350,
  495,
  350,
  495,
  290,
  525,
  280,
  390,
  515,
  401,
  567,
  580,
  306,
  500,
  362,
  521,
  362,
  521,
  500,
  600,
  700],
 [510,
  610,
  465,
  380,
  480,
  330,
  430,
  530,
  630,
  300,
  420,
  600,
  700,
  580,
  600,
  300,
  500,
  680,
  300,
  440,
  520,
  580,
  325,
  448,
  520,
  520,
  470],
 [314,
  405,
  530,
  630,
  320,
  500,
  300,
  385,
  510,
  335,
  515,
  315,
  490,
  590,
  325,
  475,
  305,
  525,
  325,
  475,
  295,
  440,
  320,
  450,
  340,
  520,
  200,
  540,
  640,
  535,
  525,
  314,
  405,
  530,
  330,
  460,
  250,
  420,
  500,
  210,
  430,
  490,
  430,
  380,
  300,
  480,
  465,
  540,
  580,
  310,
  405,
  535,
  635,
  220,
  340,
  480,
  270,
  430,
  305,
  460,
  560,
  400,
  500,
  288,
  468,
  308,
  468,
  200,
  540,
  345,
  485,
  485,
  485,
  330,
  670,
  770,
  314,
  405,
  530,
  330,
  495,
  325,
  475,
  330,
  460,
  345,
  680,
  480,
  600,
  308,
  413,
  528,
  316,
  498,
  294,
  384,
  509,
  460,
  355,
  495,
  305,
  473,
  335,
  480,
  470,
  580,
  580,
  314,
  405,
  530,
  330,
  500]]

In [38]:
from scipy.stats import f_oneway

pokemon_totals_filtered = [
    [value for value in group if isinstance(value, (int, float))] 
    for group in pokemon_totals 
    if group
]

if pokemon_totals_filtered:
    f_statistic, p_value = f_oneway(*pokemon_totals_filtered)
    print("F-Statistic:", f_statistic)
    print("P-Value:", p_value)
else:
    print("Insufficient data for ANOVA. Ensure there are non-empty numeric groups.")

F-Statistic: 4.638767481660551
P-Value: 2.077215448842098e-09

#### Interpret the ANOVA test result. Is the difference significant?

The very small p-value (close to zero) suggests that there is strong evidence against the null hypothesis. Therefore, we would reject the null hypothesis.
Rejecting the null hypothesis in ANOVA implies that at least one group mean is significantly different from the others.